concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  PROD_URL: https://way.armakuni.co.uk

name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: npm
          node-version-file: package.json
      - run: npm install
      - run: npm run lint
      - run: npm run typecheck
      - run: npm run test:unit

  playwright-test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: npm
          node-version-file: package.json
      - name: Install Dependencies
        run: npm install
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run integration tests
        run: |
          npm run test:e2e
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: playwright-report
          path: playwright-report/

  beta-deploy:
    needs:
      - test
      - playwright-test
    runs-on: ubuntu-latest
    environment:
      name: beta
      url: ${{ steps.deploy.outputs.details_url }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: npm
          node-version-file: package.json
      - run: npm install && npm run build
      - run: openssl rand -hex 12 > public/aa-releaseid
      - uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0
        id: deploy
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_THEWAY_V3 }}
          projectId: theway-v3
          channelId: beta
      - shell: bash
        run: set -euo pipefail
          curl -v --location "$URL/aa-releaseid" -o actual
          grep -qF "$(cat public/aa-releaseid)" actual
        env:
          URL: ${{steps.deploy.outputs.details_url}}
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run integration tests
        run: |
          npm run test:e2e
        env:
          PW_BASE_URL: ${{steps.deploy.outputs.details_url}}
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: playwright-report-beta
          path: playwright-report/

  deploy:
    runs-on: ubuntu-latest
    needs:
      - beta-deploy
    environment:
      name: production
      url: ${{ env.PROD_URL }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: npm
          node-version-file: package.json
      - run: npm install && npm run build
      - run: openssl rand -hex 12 > public/aa-releaseid
      - uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0
        id: deploy
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_THEWAY_V3 }}
          projectId: theway-v3
          channelId: live
      - shell: bash
        run: set -euo pipefail
          curl -v --location "$URL/aa-releaseid" -o actual
          grep -qF "$(cat public/aa-releaseid)" actual
        env:
          URL: ${{ env.PROD_URL }}
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run integration tests
        run: |
          npm run test:e2e
        env:
          PW_BASE_URL: ${{ env.PROD_URL }}
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: playwright-report-live
          path: playwright-report/
